.byline {
    color: #EE2F85
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.wiki {
    color: #2749F5
}